* {background: #f1f1f1;}

#game_canvas { position: absolute;
 	top: 20px;
 	left: 20px;
 	background: #fff;
 	box-shadow: 0 0 15px 10px rgba(200, 200, 200,.75);
}
  		
#side_canvas { position: absolute;
 	top: 20px;
 	left: 530px;
 	background: #fff;
	box-shadow: 0 0 15px 10px rgba(200, 200, 200,.75);
}

#log { position: absolute;
	top: 550px;
	left: 20px;
	height: 110px;
	resize: none;
	outline: none;
}

#pause_button { position: absolute;
	top: 550px;
	left: 200px;
	width: 80px;
	height: 30px;
	outline: none;
}

#new_game_button { position: absolute;
	top: 550px;
	left: 300px;
	width: 80px;
	height: 30px;
	outline: none;
}

.gamebutton {position: absolute;
	overflow: hidden;
	width: 80px;
	height: 30px;
}
.button_img {
	transition: 0.3s;
}
.button_img:hover {
	transform: scale(1.2);
}
